<!DOCTYPE HTML>
<html>

<head>
	<title>weAsk</title>   
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="icon" href="../images/boat.png" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
	<section id="footer" class="wrapper" style="padding-top: 0%; padding-bottom:0%;">
		<div class="container">
			<header class="style1">
				<h2 style="padding-top: 0%; padding-bottom:0%;">Coming Soon</h2>
				<p style="padding-top: 0%; padding-bottom:0%;">We will try to develop as soon as possible.</p>
			</header>
		</div>
		<p style="text-align:center"><strong> Sometimes it is the very people no one imagines anything of who do the things that no one can imagine.</strong></p>
		<p style="text-align:center; color: rgb(240, 106, 200);">I Love You 3000</p>
		<div style="padding-top: 50px;padding-bottom: 90px;text-align: center">
				<a class="btn btn-primary btn-lg" href="/dashboard" style="text-decoration: none;"><strong style="font-size: 30px;">Go To Dashboard</strong></a>
		</div>
		<div id="copyright" style="padding-top: 10px; padding-bottom:14px;">
				<ul>
					<li>&copy; Copyright</li>
					<li>Designed and Developed By: <a href="https://powerfist01.github.io/" style="text-decoration: none">Sujeet</a>
					</li>
				</ul>
			</div>
	</section>
	
</body>

</html>