<!DOCTYPE HTML>
<html>

<head>
	<title>weAsk</title>   
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="icon" href="../images/boat.png" type="image/x-icon">
</head>

<body>
	<section id="footer" class="wrapper" style="padding-top: 0%; padding-bottom:0%;">
		<div class="container">
			<header class="style1">
				<h2 style="padding-top: 0%; padding-bottom:0%;">Coming Soon</h2>
				<p style="padding-top: 0%; padding-bottom:0%;">We will try to develop as soon as possible.</p>
			</header>
			
			<div id="copyright" style="padding-top: 10px; padding-bottom:14px;">
				<ul>
					<li>&copy; Copyright</li>
					<li>Design By: <a href="https://powerfist01.github.io/" style="text-decoration: none">Sujeet</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</body>

</html>