<!DOCTYPE HTML>
<html>

<head>
	<title>weAsk</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="icon" href="../images/boat.png" type="image/x-icon">
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="/">weAsk</a></h1>
				<p>Well it matters to if you know or are Jon Snow(Doesn't know anything) .</p>
			</div>
		</section>
		<!-- Intro -->
		<section id="intro" class="wrapper style1">
			<div class="title">The Introduction</div>
			<a href="/login" class="button style3 large">Login</a>
			<br>
			<br>
			<br>
			<div class="container">
				<p class="style2">
					weAsk is a Website to make your journey easier in the new phase of your life.
				</p>
				<ul class="actions">
					<li><a href="/signup" class="button style3 large">Proceed</a></li>
				</ul>
			</div>
		</section>

		<!-- Main -->
		<section id="main" class="wrapper style2">
			<div class="title">The Details</div>
			<div class="container">

				<!-- Features -->
				<section id="features">
					<header class="style1">
						<h2>It's better if you know the features of the website</h2>
					</header>
					<div class="feature-list">
						<div class="row">
							<div class="col-6 col-12-medium">
								<section>
									<h3 class="icon fa-comment">Roll Directs</h3>
									<p>Well since you are a juniour you might need some help. So who's gonna help? Your
										Roll Direct is here to rescue.</p>
								</section>
							</div>
							<div class="col-6 col-12-medium">
								<section>
									<h3 class="icon fa-refresh">Restraunts</h3>
									<p>Now, if you are hungry and need something to eat. Just one phonecall away resides
										your Restraunts to order.
										Or if it's your friends birthday and you want cake along with GPL.
									</p>
								</section>
							</div>
							<div class="col-6 col-12-medium">
								<section>
									<h3 class="icon fa-picture-o">Notes / Books</h3>
									<p>Well you gotta study as your parents are not spending money for just your
										enjoyment.</p>
								</section>
							</div>
							<div class="col-6 col-12-medium">
								<section>
									<h3 class="icon fa-cog">Hillfair Clubs</h3>
									<p>Just arrived at the college. Need to participate in events. See the various clubs
										for the
										best cultural festival in our campus.
									</p>
								</section>
							</div>
							<div class="col-6 col-12-medium">
								<section>
									<h3 class="icon fa-wrench">Nimbuz Clubs</h3>
									<p>This time of the year, you need to focus on some technical stuffs. See various
										clubs and according
										to your choice and join them.
									</p>
								</section>
							</div>
							<div class="col-6 col-12-medium">
								<section>
									<h3 class="icon fa-check">TV Series</h3>
									<p>Well what's going on in the campus.What people talk about.What's going on in the
										cinema industry. Stay tuned.</p>
								</section>
							</div>
						</div>
					</div>
				</section>
			</div>
		</section>
		<section id="footer" class="wrapper" style="padding-top:0px; padding-bottom:0%;">
			<div id="copyright" style="padding-top: 10px; padding-bottom:14px;">
				<ul style="color: white;">
					<li>&copy; Copyright</li>
					<li>Design By: <a href="https://powerfist01.github.io/" style="text-decoration: none">Sujeet</a></li>
					<li><a href="/feedback" style="text-decoration: none;">Send Feedback</a></li>
				</ul>
			</div>
	</div>
	</section>
	</div>
</body>

</html>