<!DOCTYPE HTML>
<html>

<head>
	<title>weAsk</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="icon" href="../images/boat.png" type="image/x-icon">
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="/">Page Under Maintainance. <br> Thanks for your PATIENCE.</a></h1>
			</div>
		</section>
	</div>
</body>

</html>