<!DOCTYPE HTML>
<html>

<head>
	<title>weAsk</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="icon" href="../images/boat.png" type="image/x-icon">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" href="../css/main.css" />
	<!-- <link rel="stylesheet" href="../css/profile.css" /> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<style>
		a{
			text-decoration: none;
		}
	</style>
	<script>
		$(document).ready(function () {
			$('#usernam').click(function () {
				$('.username').show();
				$('.password').hide();
				$('.email').hide();
				$('.name').hide();
			})
			$('#nam').click(function () {
				$('.username').hide();
				$('.name').show();
				$('.email').hide();
				$('.password').hide();
			})
			$('#eml').click(function () {
				$('.username').hide();
				$('.email').show();
				$('.password').hide();
				$('.name').hide();
			})
			$('#passw').click(function () {
				$('.username').hide();
				$('.password').show();
				$('.name').hide();
				$('.email').hide();
			})

			$('#pass1').keyup(function () {
				if ($('#pass').val() === $('#pass1').val()) {
					$('#passButton').prop('disabled', false);
				}
				else {
					$('#passButton').prop('disabled', true);
				}
			})

			$('#usernameButt').click(function (e) {
				e.preventDefault();
				var obj = {
					username: $('#username1').val()
				}

				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						$('#username1').val('')
						alert('Username Changed!');
					}
				};
				xhr.open('POST', '/updateUsername', true);
				xhr.setRequestHeader("Content-type", "application/json");
				xhr.send(JSON.stringify(obj));
			})

			$('#nameButt').click(function (e) {
				e.preventDefault();
				var obj = {
					name: $('#name1').val()
				}

				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						$('#name1').val('')
						alert('Name Changed!');
					}
				};
				xhr.open('POST', '/updateName', true);
				xhr.setRequestHeader("Content-type", "application/json");
				xhr.send(JSON.stringify(obj));
			})

			$('#emailButt').click(function (e) {
				e.preventDefault();
				var obj = {
					email: $('#email1').val()
				}

				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						$('#email1').val('')
						alert('Email Changed!');
					}
				};
				xhr.open('POST', '/updateEmail', true);
				xhr.setRequestHeader("Content-type", "application/json");
				xhr.send(JSON.stringify(obj));
			})

			$('#passButton').click(function (e) {
				e.preventDefault();
				var obj = {
					password: $('#pass').val()
				}

				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						$('#pass').val('')
						$('#pass1').val('')
						alert('Password Changed!');
					}
				};
				xhr.open('POST', '/updatePassword', true);
				xhr.setRequestHeader("Content-type", "application/json");
				xhr.send(JSON.stringify(obj));
			})
		})
	</script>
</head>

<body>
	<%if (message.length > 0) { %>
	<script>
		alert('Username already exists!');
	</script>
	<% } %>
	<div class="container-fluid">
		<a href="/dashboard" style="font-size:40px;"><strong>weAsk</strong></a>
		<div class="row" style="text-align: center; padding-left: 280px; padding-top: 250px;">
			<div class="col-md-2">

				<div class="list-group" id="list-tab" role="tablist">
					<a class="list-group-item list-group-item-action active" id="usernam" data-toggle="list" href="#"
						role="tab" aria-controls="home">Username</a>
					<a class="list-group-item list-group-item-action" id="nam" data-toggle="list" href="#" role="tab"
						aria-controls="profile">Name</a>
					<a class="list-group-item list-group-item-action" id="eml" data-toggle="list" href="#" role="tab"
						aria-controls="messages">Email</a>
					<a class="list-group-item list-group-item-action" id="passw" data-toggle="list" href="#" role="tab"
						aria-controls="settings">Password</a>
				</div>
			</div>
			<div class="col-md-7">
				<div class="username" id="username">
					<div class="card bg-light mb-3" style="max-width: 50rem; max-height: 100rem;">
						<div class="card-header">Username</div>
						<div class="card-body">
							<h5 class="card-title">Enter your new Username:</h5>
							<form method="post" action="#">
								<input id="username1" type="text" spellcheck="false" class="form-control"
									name="username" required>
								<br>
								<input id="usernameButt" type="submit" value="Save">
							</form>
						</div>
					</div>
				</div>
				<div class="name" id="name" style="display: none;">
					<div class="card bg-light mb-3" style="max-width: 50rem; max-height: 100rem;">
						<div class="card-header">Name</div>
						<div class="card-body">
							<h5 class="card-title">Edit your name:</h5>
							<form method="post" action="#">
								<input id="name1" type="text" spellcheck="false" class="form-control" name="name"
									required>
								<br>
								<input id="nameButt" type="submit" value="Save">
							</form>
						</div>
					</div>
				</div>
				<div class="email" id="email" style="display: none;">
					<div class="card bg-light mb-3" style="max-width: 50rem; max-height: 100rem;">
						<div class="card-header">Email</div>
						<div class="card-body">
							<h5 class="card-title">Update your Email:</h5>
							<form method="post" action="#">
								<input id="email1" type="text" spellcheck="false" class="form-control" name="email"
									required>
								<br>
								<input id="emailButt" type="submit" value="Save">
							</form>
						</div>
					</div>
				</div>
				<div class="password" id="password" style="display: none;">
					<div class="card bg-light mb-3" style="max-width: 50rem; max-height: 100rem;">
						<div class="card-header">Password</div>
						<div class="card-body">
							<h5 class="card-title">Change your Password:</h5>
							<form method="post" action="#">
								<input id="pass" type="password" spellcheck="false" class="form-control" name="password"
									required>
								<br>
								<input id="pass1" type="password" spellcheck="false" class="form-control"
									name="password1" required>
								<br>
								<input disabled id="passButton" type="submit" value="Save">
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<!-- <img src='./images/manit.png'>
				<form method="post" enctype="multipart/form-data" action="/upload">
					<input type="file" name="file">
					<input type="submit" value="Upload Picture">
				</form> -->
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>